
ChapooApllication/UI/obj/Debug/UI.csproj.FileListAbsolute.txt
ChapooApllication/UI/obj/Debug/UI.csproj.FileListAbsolute.txt
ChapooApllication/UI/obj/Debug/UI.csproj.GenerateResource.cache
ChapooApllication/UI/obj/Debug/UI.csproj.CoreCompileInputs.cache
ChapooApllication/UI/obj/Debug/UI.exe
ChapooApllication/UI/obj/Debug/UI.pdb
ChapooApllication/UI/obj/Debug/UI.csprojAssemblyReference.cache
ChapooApllication/.vs/ChapooApllication/v16/.suo
ChapooApllication/ChapooDAL/obj/Debug/ChapooDAL.csprojAssemblyReference.cache
ChapooApllication/ChapooLogic/obj/Debug/ChapooLogic.csprojAssemblyReference.cache
ChapooApllication/ChapooModel/obj/Debug/ChapooModel.csprojAssemblyReference.cache
ChapooApllication/UI/bin/Debug/UI.exe
ChapooApllication/UI/bin/Debug/UI.pdb
ChapooApllication/UI/obj/Debug/UI.csproj.GenerateResource.cache
ChapooApllication/UI/obj/Debug/UI.csprojAssemblyReference.cache
ChapooApllication/UI/obj/Debug/UI.exe
ChapooApllication/UI/obj/Debug/UI.pdb
